@import '../../../../styles.scss';
.row{
  height: 80vh;
}
.starColor {
  color: $rating-color;
}
.transColor{
  color: gray;
}
// .Add-btn{
//   background-color: $main-color;
//   border: none;
//   width: 80%;
//   border-radius: 10px;
//   color: #fff;
//   padding-block: 0.3rem;
// }
p a:not(.Add-btn) i{
  width: 20%;
}
