<div class="container-fluid p-3">
  <div class="row g-3">
    <!-- <div class="col-md-12">
      <h1>Brands</h1>
    </div> -->

    <div class="col-md-2" *ngFor="let brand of brands | paginate: { id: 'brandsPagination',
    itemsPerPage: pageLimit,
    currentPage:pageNumber,
    totalItems:allBrands } ">
      <div class="card product-card" [routerLink]="['/brandDetails',brand._id]">
        <img [src]="brand.image" height="270" class="card-img-top w-100" alt="brand"  >
        <div class="card-body">
          <h2 class="h6 category" >{{brand.name}}</h2>
        </div>
      </div>
    </div>
    <pagination-controls id="brandsPagination"
    (pageChange)="pageChanged($event)"
    (pageBoundsCorrection)="pageChanged($event)"
    [maxSize]="9"
    [directionLinks]="true"
    [autoHide]="true"
    [responsive]="true"
    previousLabel="Previous"
    nextLabel="Next"
    screenReaderPaginationLabel="Pagination"
    screenReaderPageLabel="page"
    screenReaderCurrentLabel="You're on page"
    class="my-pagination"></pagination-controls>

  </div>
  </div>
