<div class="container-fluid p-3">
  <div class="row g-3">
    <div class="col-md-3" *ngFor="let category of categories | paginate: { id: 'categoryPagination',
    itemsPerPage: pageLimit,
    currentPage:pageNumber,
    totalItems:allCategories }">
      <div class="card product-card" [routerLink]="['/categoryDetails',category._id]">
        <img [src]="category.image" height="270" class="card-img-top w-100" alt="product"  >
        <div class="card-body">
          <h2 class="h6 category"  >{{category.name}}</h2>
        </div>
      </div>
    </div>
    <pagination-controls id="categoryPagination"
    (pageChange)="pageChanged($event)"
    (pageBoundsCorrection)="pageChanged($event)"
    [maxSize]="9"
    [directionLinks]="true"
    [autoHide]="true"
    [responsive]="true"
    previousLabel="Previous"
    nextLabel="Next"
    screenReaderPaginationLabel="Pagination"
    screenReaderPageLabel="page"
    screenReaderCurrentLabel="You're on page"
    class="my-pagination"></pagination-controls>
  </div>
  </div>
