 <section *ngIf="step1">
   <div class="container w-50 p-3 bg-light mx-auto rounded rounded-2 shadow">
    <div class="row">
      <div class="col-md-12">
       <form [formGroup]="forgetForm" (ngSubmit)="handleForgetPassword()">
        <label for="email">Email :</label>
        <input type="email" formControlName="email" class="form-control" id="email" placeholder="Email...">
        <button type="submit" class="Add-btn btn w-25 my-3">Forget Password</button>
       </form>
      </div>
    </div>
  </div>
 </section>

 <section *ngIf="step2">
  <div class="container w-50 p-3 bg-light mx-auto rounded rounded-2 shadow">
   <div class="row">
     <div class="col-md-12">
      <form [formGroup]="resetCodeForm" (ngSubmit)="handleResetCode()">
        <label for="resetCode">Reset Code :</label>
        <input type="text" formControlName="resetCode" class="form-control" id="resetCode" placeholder="Code">
        <button type="submit" class="Add-btn btn w-25 my-3">Reset Code</button>
      </form>
     </div>
   </div>
 </div>
</section>
<section *ngIf="step3">
  <div class="container w-50 p-3 bg-light mx-auto rounded rounded-2 shadow">
   <div class="row">
     <div class="col-md-12">
      <form [formGroup]="ResetPasswordForm"  (ngSubmit)="handleResetPassword()">
        <label for="NewPassword">NewPassword :</label>
        <input type="password" formControlName="newPassword" class="form-control" id="NewPassword" placeholder="new password">
        <div class="py-2 fst-italic" *ngIf="ResetPasswordForm.get('newPassword')?.touched || clicked">
          <p *ngIf='ResetPasswordForm.get("newPassword")?.getError("pattern")' class="alert alert-danger" >
            Password must contain at Least 8 characters
            , Capital Characters ABCD
            , Small Characters abcd
            , Spacial Characters
          </p>
         <p class="alert alert-danger" *ngIf='ResetPasswordForm.get("newPassword")?.getError("required")'>
            Password is Required
          </p>
        </div>
       <button type="submit" class="Add-btn btn w-25 my-3">Reset Password</button>
      </form>
     </div>
   </div>
 </div>
</section>
