*{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  --main-color:rgba(15, 169, 15, 0.767);
  --rating-color:rgb(246, 246, 19);
}
.product-card{
  padding: 0.3rem;
}
.product-card:hover{
  border: solid 2px #2c2d;
  box-shadow: rgba(56, 201, 104, 0.734) 0px 8px 24px;
}
.category
{
  color: #2c2c;
}
.Add-btn{
  background-color: #2c2c;
  border: none;
  border-radius: 10px;
}
