.container-fluid
{
  background-color: #F0F3F2;
}
.container-fluid .row{
  display: flex;
  align-items: center;
  /* justify-content: center; */
}
p{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  padding-block:0.6rem ;
  margin-bottom: 0;
}
input{
  width: 80%;
}
