
<div class="container-fluid bg-light mt-3 p-5">
  <div class="container">
    <div class="row">
      <div class="col-md-12 d-flex justify-content-start">
        <h2 class="fw-light">
          Get The FreshCart App
        </h2>
      </div>
      <div class="col-md-12 text">
        <p>We Well Send You a Link</p>
      </div>
      <div class="col-md-12 d-flex justify-content-around  border-bottom py-2">
        <input type="email" placeholder="Email..." class="form-control">
        <button class="main-bg text-light">Share App Link</button>
      </div>
      <div class="col-md-12 text-center my-2 text">
        <p> © {{currentYear}} Wesam Morsy All Rights Reserved</p>
      </div>
    </div>
  </div>
</div>
