<div class="container p-3">
  <div class="row g-3">
    <div class="col-md-12">
      <h1>Popular Products</h1>
    </div>
    <div class="col-md-12 d-flex align-content-center justify-content-center">
      <input
        type="text"
        [(ngModel)]="term"
        id="search"
        placeholder="Seacrh.......... "
        class="form-control w-50"
      />
    </div>
    <div
      class="col-md-3 align-items-center"
      *ngFor="
        let product of products
          | paginate
            : {
                id: 'productPagination',
                itemsPerPage: pageLimit,
                currentPage: pageNumber,
                totalItems: allProducts
              }
          | search : term
      "
    >
      <div class="card product-card">
        <img
          [src]="product.imageCover"
          class="card-img-top w-100"
          alt="product"
          (click)="getProductByID(product._id)"
        />
        <div class="card-body">
          <h2 class="h6 category" (click)="getProductByID(product._id)">
            {{ product.category?.name }}
          </h2>
          <h5 class="h6 card-title" (click)="getProductByID(product._id)">
            {{ product.title | seemore : 3 }}
          </h5>
          <p
            class="card-text d-flex justify-content-between"
            (click)="getProductByID(product._id)"
          >
            <span>{{ product.price | currency : "EGP" : "symbol" }}</span>
            <span>
              <i [ngClass]=" (product.ratingsAverage >=num )? 'starColor': 'transColor' "
                *ngFor="let num of [1,2,3,4,5]"
                class="fa-solid fa-star"></i>
              <span>
                {{ product.ratingsAverage }}
              </span>
            </span>
          </p>
          <p class="card-text d-flex justify-content-between">
            <i *ngIf="!wishListData.includes($any(product._id))"(click)="addFavourite(product._id)"  class="fa-regular fa-heart heart"></i>
            <i *ngIf="wishListData.includes($any(product._id))" (click)="removeFavourite(product._id)" class="fa-solid fa-heart-circle-minus heart"></i>
          </p>

          <a class="btn Add-btn text-center" (click)="addToCart(product._id)">
            <i class="fa-solid fa-plus"></i> Add to cart</a
          >
        </div>
      </div>
    </div>
    <pagination-controls
      id="productPagination"
      (pageChange)="pageChanged($event)"
      (pageBoundsCorrection)="pageChanged($event)"
      [maxSize]="50"

      previousLabel="Previous"
      nextLabel="Next"

      class="my-pagination"
    ></pagination-controls>
  </div>
</div>
