
.container{
  .myImages{
    height: 80px;
  }

}
img.img-right{
  object-position: right;
}

/*Second slider*/
img.myImg{
  width: 100% !important;
  height: 210px !important;
  object-fit: cover;
  object-position: center;
}

