/* You can add global styles to this file, and also import other style files */

$font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
$main-color: rgba(15, 169, 15, 0.767);
$main-second-color: rgba(1, 113, 1, 0.767);
$rating-color: rgb(246, 246, 19);
$whiteColor:#fff;

.container {
  margin-top: 6rem;
  margin-bottom: 4rem;

  .card-body {
    position: relative;
    overflow: hidden;
  }
  .card:hover a {
    transform: translateY(0);
  }
  .card-body a {
    width: 100%;
    position: relative;
    transform: translateY(150%);
    transition: all 1s;
  }
  .product-card {
    padding: 0.1rem;
    max-height: 620px;
    transition: all 1s;
    &:hover {
      // border: solid 1px rgba(148, 229, 148, 0.867);
      // box-shadow: rgba(56, 201, 104, 0.734) 0px 8px 24px;

        box-shadow:
          rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
          rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
          rgba(0, 0, 0, 0.09) 0px 32px 16px;
          i{
            transform: scale(1.1);
          }
    }
  }


  .category {
    color: #2c2c;
  }
  .main-bg {
    background-color: $main-color;
    border-radius: 10px;
    border: none;
    padding: 0.2rem 0.4rem;
    margin-top: 0.5rem;
  }
  .Add-btn {
    &:hover {
      box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
        rgba(8, 196, 55, 0.871) 0px -36px 30px 0px inset,
        rgba(72, 255, 0, 0.45) 0px -79px 40px 0px inset,
        rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px,
        rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px,
        rgba(0, 0, 0, 0.09) 0px 32px 16px;
        i{
          transform: scale(1.1);
        }
    }
    background-color: $main-color;
    border: none;
    border-radius: 10px;
    color: #fff;
    padding: 0.5rem;
    margin-block: 0.2rem;
    transition: all 0.3s;
  }
  .cursor-pointer {
    cursor: pointer;
  }
  .text {
    color: rgba(120, 120, 120, 0.8);
  }
  .clear {
    transition: all 500ms;
  }
  .clear:hover {
    background-color: rgb(216, 66, 66);
    color: #fff !important;
  }
  .heart {
    font-size: 25px;
    transition: all 500ms;
  }
  .heart:hover {
    font-size: 28px;
    color: rgb(158, 1, 1);
  }
}
.container-fluid {
  .category {
    color: #2c2c;
  }
}
/* width */
::-webkit-scrollbar {
  width: 13px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 3px grey;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $main-color;
  border-radius: 5px;
  transition: all 1s;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $main-second-color;
}
