<div class="container p-3">
<div class="row g-4 vh-100">
  <div class="col-md-12">
    <div class="text-center fst-italic py-2">
      <h2>SIGN IN Form</h2>
    </div>
  <div class="col-md-12 alert alert-danger text-center" *ngIf="errorMessage">
    <p>{{errorMessage}}</p>
  </div>
  <div class="col-md-12 alert alert-info text-center" *ngIf="SuccessfulMessage">
    <p>{{SuccessfulMessage}}</p>
  </div>

  <form [formGroup]="SignInForm" (ngSubmit)="handleSignIn()">
    <label for="userEmail">Email</label>
    <input type="email" formControlName="email" id="userEmail" class="form-control" autocomplete="false">
    <div class="py-2 fst-italic" *ngIf="SignInForm.get('email')?.touched || clicked">
      <p *ngIf='SignInForm.get("email")?.getError("email")' class="alert alert-danger" >
       Email is Invalid
      </p>
     <p class="alert alert-danger" *ngIf='SignInForm.get("email")?.getError("required")'>
        Email is Required
      </p>
    </div>
    <label for="userPassword">Password</label>
    <input type="password" formControlName="password" id="userPassword" class="form-control" autocomplete="false">
    <div class="py-2 fst-italic" *ngIf="SignInForm.get('password')?.touched || clicked">
      <p *ngIf='SignInForm.get("password")?.getError("pattern")' class="alert alert-danger" >
        Password must contain at Least 8 characters
        , Capital Characters ABCD
        , Small Characters abcd
        , Spacial Characters
      </p>
     <p class="alert alert-danger" *ngIf='SignInForm.get("password")?.getError("required")'>
        Password is Required
      </p>
    </div>
    <div class="d-flex justify-content-between my-3">
      <button type="submit" class="Add-btn" [disabled]="SignInForm.invalid" > <span *ngIf="!loading">Login</span>
        <i *ngIf="loading" class="fa-solid fa-spinner fa-spin fs-4"></i>
      </button>
      <a routerLink="/forgot"> Forget Password</a>
    </div>
</form>
</div>
</div>

</div>
